@model ContosoUniversity.Models.ChuyenPhatNhanh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChuyenPhatNhanh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNguoiGui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiGui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SdtNguoiGui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtNguoiGui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SdtNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienCuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienCuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChuyenPhatNhanhID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
