@model IEnumerable<ContosoUniversity.Models.ChuyenPhatNhanh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<a asp-action="cau_3">LietKe</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNguoiGui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SdtNguoiGui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNguoiNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SdtNguoiNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiNguoiNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienCuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNhanVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiGui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SdtNguoiGui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SdtNguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienCuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhanVien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChuyenPhatNhanhID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChuyenPhatNhanhID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChuyenPhatNhanhID">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
